*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--cds-ref-typography-family-primary, sans-serif);
  background-color: var(--cds-system-color-bg-base, #fff);
  color: var(--cds-system-color-text-primary, #000);
}
